<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdal="http://www.jdal.org/schema/jdal"
	xmlns:swing="http://www.jdal.org/schema/swing"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.jdal.org/schema/jdal http://www.jdal.org/schema/jdal/jdal-core.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.jdal.org/schema/swing http://www.jdal.org/schema/jdal/jdal-swing.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<context:component-scan base-package="info.joseluismartin.balsa" />
	
	<swing:defaults />
	
	<bean id="controlView" class="info.joseluismartin.balsa.ui.ControlModelView" scope="prototype">
		<property name="g" ref="genericLtiSystemView" />
		<property name="control" ref="PIDView" />
	</bean>
	
	<util:list id="systems" value-type="org.jdal.swing.AbstractView">
		<ref bean="firstOrderView" />
		<ref bean="secondOrderView" />
		<ref bean="genericLtiSystemView" />
		<ref bean="controlView" />
 	</util:list>
	
	
</beans>
